*.gtf filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
*.seq filter=lfs diff=lfs merge=lfs -text
hsapiens/ref/hsapiens_release_24_GRCh38.ti filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
